<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        
        <mapping class="com.mkyong.common.form.Seti" />
        <mapping class="com.mkyong.common.form.Banks_Ua" />
        <mapping class="com.mkyong.common.form.Atms_Info_Ua" />
        <mapping class="com.mkyong.common.form.Coordinates_Ua" />
    </session-factory>
         
</hibernate-configuration>